<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="application.scss">
    <script src="https://kit.fontawesome.com/0daeb9e6e6.js" crossorigin="anonymous"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="body">
      <% if user_signed_in? %>
        <div class="search-form", style="text-align: center;">
          <%= form_tag(search_path, method: :get) do %>
            <%= text_field_tag (:word) %>
            <%= select_tag 'range' ,options_for_select([['User', '1'], ['Book', '2']]) %>
            <%= select_tag 'search', options_for_select([["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
            <%= submit_tag "検索" %>
          <% end %>
        </div>
      <% end %>
      <div class="container">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>

        <%= yield %>

      </div>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
